{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-decorators",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
